* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
  }
  
  body {    
    background: linear-gradient(150deg, #7795f8 15%, #6772e5 70%, #555abf 94%); 
    background-repeat: no-repeat;
    height: 100vh;
  }

  .Nav {
    display: flex;
    justify-content: flex-end;
    color: white;
    padding: 1rem;
  }

  .Nav a {
    color: hsla(0,0%,100%,.95);
    padding: 1rem; 
  }
  .Nav a:hover {
    color: rgba(168, 168, 168, 0.95);
    text-decoration: none;
  }
.description {
  font-size: 0.875rem;
}

@media (min-width: 992px) {
    .pt-lg-7, .py-lg-7 {
      padding-top: 6rem!important;
  }
}