.gratNavbar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem 1rem;
    color: rgba(255, 255, 255, 0.95);
    font-family: "Open Sans", sans-serif;
}

.gratNavbar div {
    margin-right: 15px;
}